<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="css/login.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Sen:wght@400;700;800&display=swap" rel="stylesheet">
</head>
<body>
<section class="login">
    <div class="container">
        <div class="login__container">
            <form method="post" action="/login" enctype="application/json">

                <div class="form-floating mb-4 p-0">
                    <input type="text" name="username"  class="form-control" placeholder="Username" >
            
                </div>
            
                <div class="form-floating p-0">
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
            
                </div>
            
                <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
                    Sign in
                </button>
            
                <p class="text-center">Don’t have an account? <a th:href="@{/registrationNurse}" href="registrationNurse.html">Create One</a></p>
            
            </form>
        </div>
    </div>
</section>
</body>
</html>