<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form method="post" action="/login" enctype="application/json">

    <div class="form-floating mb-4 p-0">
        <input type="text" name="username"  class="form-control" placeholder="Username" >

        <label>Username</label>
    </div>

    <div class="form-floating p-0">
        <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>

        <label for="password">Password</label>
    </div>

    <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
        Sign in
    </button>

    <p class="text-center">Don’t have an account? <a th:href="@{/registrationNurse}" href="registrationNurse.html">Create One</a></p>

</form>
</body>
</html>