<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
</head>
<body>

<h1>Nurse Registration</h1>
<form role="form" method="post" th:action="@{/sign-up}">

  <div class="form-floating form-floating__username">
    <input type="text" name="name" id="name" class="form-control" placeholder="Name" required>

    <label for="username">Name</label>
  </div>

  <div class="form-floating form-floating__username">
    <input type="text" name="surname" id="surname" class="form-control" placeholder="Surname" required>

    <label for="username">Surname</label>
  </div>

  <div class="form-floating form-floating__username">
    <input type="text" name="username" id="username" class="form-control" placeholder="Username" required>

    <label for="username">Username</label>
  </div>

  <div class="form-floating">
    <input type="email" name="email" id="email" pattern="[^ @]*@[^ @]*" class="form-control" placeholder="Email address" required>

    <label for="email">Email address</label>
  </div>

  <div class="form-floating my-4">
    <input type="password" name="password" id="password" pattern="[0-9a-zA-Z]{4,10}" class="form-control" placeholder="Password" required>

    <label for="password">Password</label>

    <p class="text-center">* shall include 0-9 a-z A-Z in 4 to 10 characters</p>
  </div>


  <button type="submit" class="btn custom-btn form-control mt-4 mb-3">
    Create account
  </button>

  <p class="text-center">Already have an account? Please <a href="login.html">Sign In</a></p>

</form>
</body>
</html>