<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Researches</title>
</head>
<body>
<form action="/addResearches" method="post" enctype="application/json">

    <label for="nameResearches">Name Research: </label>
    <input type="text" id="nameResearches" name="nameResearches"><br>

    <label for="cost">Cost: </label>
    <input type="number" id="cost" name="cost"><br>

    <label for="time">Period Of Execution: </label>
    <input type="time" id="time" name="time"><br>

    <label for="necessaryEquipment">Necessary Equipment: </label>
    <input type="text" id="necessaryEquipment" name="necessaryEquipment"><br>

    <button type="submit">Submit</button>
</form>
<ul th:each="r : ${allResearches}">
    <li>
        <label class="label_list">Name Researches:
            <p th:text="${r.nameResearches}"></p>
        </label>
        <label class="label_list">Necessary Equipment:
            <p th:text="${r.necessaryEquipment}"></p>
        </label>
        <label class="label_list">Time:
            <p th:text="${r.time}"></p>
        </label>
        <label class="label_list">Cost:
            <p th:text="${r.cost}"></p>
        </label>
    </li>
</ul>
<a th:href="@{/pdfExport}">Export Researches</a>
</body>
</html>