html,body{
    overflow-x: hidden;
    overflow-y: auto;
      height: 100%;
      width: 100%;
      font-size: 100%;
      line-height: 1;
      font-size: 14px;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
  }

  html,body{
    overflow-x: hidden;
    overflow-y: auto;
      height: 100%;
      width: 100%;
      font-size: 100%;
      line-height: 1;
      font-size: 14px;
      -ms-text-size-adjust: 100%;
      -moz-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
  }
  
  
  input,button,textarea{font-family:inherit;}
  
  input::-ms-clear{display: none;}
  button{cursor: pointer;}
  button::-moz-focus-inner {padding:0;border:0;}
  a, a:visited{text-decoration: none;}
  a:hover{text-decoration: none;}
  img{vertical-align: top;}
  
  h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
  
  body {
    font-family: 'open sans';  
    background-image: url(2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  
    --violet-dark: #7943A4;
    --violet-normal: #9D5CD0;
    --violet-light: #C283F3;
    --violet-ultra-light: #D1A9F0;
    --just-white: white;
    --jast-black: black;
    --gray-dark: #333333;
    --gray-normal: #999999;
    --gray-light: #CACACA;
    --transparency: rgba(255, 255, 255, 0);
  }

::-webkit-input-placeholder {font-family: 'Lato', sans-serif;}
::-moz-placeholder { font-family: 'Lato', sans-serif;}
:-ms-input-placeholder { font-family: 'Lato', sans-serif;}
:-moz-placeholder {font-family: 'Lato', sans-serif;}

  ul {
    list-style-type: none;
 }
  
  body.fixed {
    overflow: hidden;
  }
  
  h2 {
    font-weight: 400;
    font-size: 48px;
  }
  
  .container {
    max-width: 1600px;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .login__container {
    width: 165px;
  }

  .login {
    padding: 12%;
  }

  .form-floating {
    margin-bottom: 10px;
  }

  .form-control {
    border-radius: 5px;
    outline: none;
    border: none;
  }

  .custom-btn {
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 12px;
  }

  .text-center {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
  }

  .text-center a{
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 12px;
  }